@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

$gray: #ABB2BF;
$white: #FFFFFF;
$purple: #C778DD;

@mixin reset {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Fira Code";
    list-style-type: none;
}

body, h1, h2, h3, h4, h5, h6, ul, li, p {
    @include reset;
}

.purple {
    color: $purple;
}

.white-p, .white__always, .white:hover {
    color: $white;
}

.icon-Discord::before {
    font-size: 32px;
    margin-right: 5px;
}
.icon-Discord:hover::before {
    color: $white;
}

.icon-Email::before {
    font-size: 32px;
    margin-right: 5px;
}
.icon-Email:hover::before {
    color: $white;
}

.body-content {
    background-color: #282C33;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

.home {
    position: fixed;
    top: 0;
    background-color: #282C33;
    z-index: 3;
    margin-left: 17px;
    .home__separator {
        margin-top: 0;
        margin-bottom: 14px;
        width: 1px;
        height: 191px;
        border: none;
        background: $gray;
    }
    .home__social-links {
        padding: 5px;
    }
}

.header {
    position: fixed;
    top: 0;
    background-color: #282C33;
    z-index: 4;
    width: 1024px;
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 25%);
    height: 61px;
    .header__link {
        color: $white;
        margin: 0 0 0 0;
        position: relative;
        bottom: -30px;
        text-decoration: none;
        .header__icon {
            margin: 0 8px 0 0;
            position: relative;
            top: 3px;
        }
    }
}

.header__nav{
    display: flex;
    justify-content: end;
    .header__links {
        display: flex;
        margin: 9px;
        .header__item {
            padding-right: 32px;
        }
    }
    .header__select {
        border: 0 solid #000;
        background-color: #282C33;
        font-size: 16px;
        color: $gray;
        padding: 0;
    }
}

.header__linkk {
    color: $gray;
    text-decoration: none;
}

.about-me {
    margin-top: 114px;
    margin-bottom: 8px;
    .about-me__title {
        color: $white;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 14px;
    }
    .about-me__text {
        color: $gray;
        font-size: 16px;
        font-weight: 400;
    }
}

.description {
    display: flex;
    align-items: center;
    margin-bottom: 112px;
    .description__content {
        width: 515px;
        margin-right: 170px;
        .description__paragraph {
            color: $gray;
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
        }
    }
}

.skills {
    margin-bottom: 83px;
    .skills__header {
        .skills__title {
            color: $white;
            margin-bottom: 48px;
            font-size: 32px;
            font-weight:500;
        }
    }
    .skills__content {
        .skills__list {
            display: flex;
            align-items: flex-start;
            margin: 0;
            padding: 0;
        }
    }
}

.skills__item {
    padding: 8px 0;
    border: 1px solid $gray;
    margin-right: 16px;
    &:last-child {
        margin-right: 0;
    }
    .skills__category {
        color: $white;
        font-size: 16px;
        margin: 0;
        padding: 0 8px 8px 8px;
        border-bottom: 1px solid $gray;
    }
    .skills__sublist {
        color: $gray;
        padding: 8px 8px 0 8px;
        font-size: 16px;
        .skills__subitem{
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }
}

.fun-facts {
    margin-bottom: 162px;
    .fun-facts__header {
        .fun-facts__title {
            color: $white;
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 26px;
        }
    }
}

.fun-facts__content {
    display: flex;
    .fun-facts__description {
        margin-right: 156px;
        width: 605px;
        .fun-facts__fact {
            display: inline-block;
            border: 1px solid $gray;
            padding: 8px;
            color: $gray;
            margin-bottom: 16px;
        }
    }
}

.footer-wrapper {
    border-top: 1px solid $white;
    .footer {
        margin: 32px 0;
        .footer__bottom {
            display: flex;
            justify-content: center;
            .footer__copyright {
                color: $gray;
            }
        }
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    .footer__contact {
        .footer__name {
            display: inline;
            margin-right: 15px;
            color: $white;
            text-decoration: none;
            .footer__icon{
                position: relative;
                top: 3px;
                margin-right: 9px;
                color: $white;
            }
        }
        .footer__email {
            display: inline;
            color: $gray;
            text-decoration: none;
        }
        .footer__role {
            margin-top: 16px;
            color: $white;
        }
    }
    .footer__media {
        .footer__media-title {
            color: $white;
            margin-bottom: 12px;
            font-size: 24px;
            font-weight: 500;
        }
    }
}