@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
* {
  font-family: "Fira Code";
  list-style-type: none;
}

body, h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0;
}

.purple {
  color: #C778DD;
}

.white-p, .white__always, .white:hover {
  color: #FFFFFF;
}

.body-content {
  background-color: #282C33;
}

.wrapper {
  margin: 0 auto;
  width: 1024px;
}

.home {
  position: fixed;
  top: 0;
  background-color: #282C33;
  z-index: 3;
  margin-left: 17px;
}
.home .home__separator {
  margin-top: 0;
  margin-bottom: 14px;
  width: 1px;
  height: 191px;
  border: none;
  background: #ABB2BF;
}
.home .home__social-links {
  padding: 5px;
}

.header {
  position: fixed;
  top: 0;
  background-color: #282C33;
  z-index: 4;
  width: 1024px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 61px;
}
.header .header__link {
  color: #FFFFFF;
  margin: 0 0 0 0;
  position: relative;
  bottom: -30px;
  text-decoration: none;
}
.header .header__link .header__icon {
  margin: 0 8px 0 0;
  position: relative;
  top: 3px;
}

.header__nav {
  display: flex;
  justify-content: end;
}
.header__nav .header__links {
  display: flex;
  margin: 9px;
}
.header__nav .header__links .header__item {
  padding-right: 32px;
}
.header__nav .header__select {
  border: 0 solid #000;
  background-color: #282C33;
  font-size: 16px;
  color: #ABB2BF;
  padding: 0;
}

.header__linkk {
  color: #ABB2BF;
  text-decoration: none;
}

.projects {
  margin-top: 114px;
  margin-bottom: 68px;
}
.projects .projects__title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 14px;
}
.projects .projects__description {
  color: #ABB2BF;
  font-size: 16px;
  font-weight: 400;
}

.complete-apps {
  margin-bottom: 81px;
}
.complete-apps .complete-apps__title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
}

.complete-apps__list--first {
  padding: 0;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.complete-apps__list--first .complete-apps__item--first {
  margin-right: 16px;
  border: 1px solid #ABB2BF;
}
.complete-apps__list--first .complete-apps__item--first .complete-apps__tech-list {
  color: #ABB2BF;
  padding: 0 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.complete-apps__list--first .complete-apps__item--second {
  border: 1px solid #ABB2BF;
  margin-right: 16px;
}
.complete-apps__list--first .complete-apps__item--second .complete-apps__tech-list {
  color: #ABB2BF;
  padding: 0 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.complete-apps__list--first .complete-apps__item--third {
  border: 1px solid #ABB2BF;
}
.complete-apps__list--first .complete-apps__item--third .complete-apps__tech-list {
  color: #ABB2BF;
  padding: 0 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}

.complete-apps__item-content {
  padding: 16px;
}
.complete-apps__item-content .complete-apps__item-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.complete-apps__item-content .complete-apps__item-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.complete-apps__item-content .complete-apps__button--live {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.complete-apps__item-content .complete-apps__button--live:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}
.complete-apps__item-content .complete-apps__button--cached {
  border: 1px solid #ABB2BF;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #ABB2BF;
  padding: 8px 16px;
}
.complete-apps__item-content .complete-apps__button--cached:hover {
  background-color: rgba(171, 178, 191, 0.2);
  transition-duration: 300ms;
}
.complete-apps__item-content .complete-apps__button--github {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.complete-apps__item-content .complete-apps__button--github:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.complete-apps__list--second {
  padding: 0;
  display: flex;
  align-items: flex-start;
}
.complete-apps__list--second .complete-apps__item--first {
  margin-right: 16px;
  border: 1px solid #ABB2BF;
}
.complete-apps__list--second .complete-apps__item--first .complete-apps__tech-list {
  color: #ABB2BF;
  padding: 0 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.complete-apps__list--second .complete-apps__item--second {
  margin-right: 16px;
  border: 1px solid #ABB2BF;
}
.complete-apps__list--second .complete-apps__item--second .complete-apps__tech-list {
  color: #ABB2BF;
  padding: 0 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}

.small-projects {
  margin-bottom: 187px;
}
.small-projects .small-projects__title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 48px;
}

.small-projects__content .small-projects__list--first-line {
  padding: 0;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.small-projects__content .small-projects__list--second-line {
  padding: 0;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.small-projects__content .small-projects__list--third-line {
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.small-projects__item--bot-boilerplate {
  width: 331px;
  border: 1px solid #ABB2BF;
  margin-right: 16px;
}
.small-projects__item--bot-boilerplate .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--bot-boilerplate .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--bot-boilerplate .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--bot-boilerplate .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--bot-boilerplate .small-projects__content-item .small-projects__button--github {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--bot-boilerplate .small-projects__content-item .small-projects__button--github:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.small-projects__item--my-blog {
  width: 331px;
  border: 1px solid #ABB2BF;
  margin-right: 16px;
}
.small-projects__item--my-blog .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--my-blog .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--my-blog .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--my-blog .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--my-blog .small-projects__content-item .small-projects__button--github {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--my-blog .small-projects__content-item .small-projects__button--github:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.small-projects__item--chess-pro {
  width: 331px;
  border: 1px solid #ABB2BF;
}
.small-projects__item--chess-pro .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--chess-pro .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--chess-pro .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--chess-pro .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--chess-pro .small-projects__content-item .small-projects__button--figma {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--chess-pro .small-projects__content-item .small-projects__button--figma:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.small-projects__item--crash-protect-website {
  width: 331px;
  border: 1px solid #ABB2BF;
  margin-right: 16px;
}
.small-projects__item--crash-protect-website .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--crash-protect-website .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--crash-protect-website .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--crash-protect-website .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--crash-protect-website .small-projects__content-item .small-projects__button--figma {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--crash-protect-website .small-projects__content-item .small-projects__button--figma:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.small-projects__item--css-experiments {
  width: 331px;
  border: 1px solid #ABB2BF;
  margin-right: 16px;
}
.small-projects__item--css-experiments .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--css-experiments .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--css-experiments .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--css-experiments .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--css-experiments .small-projects__content-item .small-projects__button--live {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--css-experiments .small-projects__content-item .small-projects__button--live:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.small-projects__item--nvim-config {
  width: 331px;
  border: 1px solid #ABB2BF;
}
.small-projects__item--nvim-config .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--nvim-config .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--nvim-config .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--nvim-config .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--nvim-config .small-projects__content-item .small-projects__button--github {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--nvim-config .small-projects__content-item .small-projects__button--github:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.small-projects__item--ooku {
  width: 331px;
  border: 1px solid #ABB2BF;
  margin-right: 16px;
}
.small-projects__item--ooku .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--ooku .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--ooku .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--ooku .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--ooku .small-projects__content-item .small-projects__button--live {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--ooku .small-projects__content-item .small-projects__button--live:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.small-projects__item--school-website {
  width: 331px;
  border: 1px solid #ABB2BF;
  margin-right: 16px;
}
.small-projects__item--school-website .small-projects__tech-list {
  color: #ABB2BF;
  padding: 8px 8px;
  font-size: 16px;
  border-bottom: 1px solid #ABB2BF;
  padding-bottom: 8px;
}
.small-projects__item--school-website .small-projects__content-item {
  padding: 16px;
}
.small-projects__item--school-website .small-projects__content-item .small-projects__content-title {
  font-size: 24px;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.small-projects__item--school-website .small-projects__content-item .small-projects__content-description {
  color: #ABB2BF;
  margin-bottom: 16px;
}
.small-projects__item--school-website .small-projects__content-item .small-projects__button--figma {
  border: 1px solid #C778DD;
  background-color: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 8px 16px;
}
.small-projects__item--school-website .small-projects__content-item .small-projects__button--figma:hover {
  background-color: rgba(199, 120, 221, 0.2);
  transition-duration: 300ms;
}

.footer-wrapper {
  border-top: 1px solid #FFFFFF;
}
.footer-wrapper .footer {
  margin: 32px 0;
}
.footer-wrapper .footer .footer__bottom {
  display: flex;
  justify-content: center;
}
.footer-wrapper .footer .footer__bottom .footer__copyright {
  color: #ABB2BF;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.footer__content .footer__contact .footer__name {
  display: inline;
  margin-right: 15px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__content .footer__contact .footer__name .footer__icon {
  position: relative;
  top: 3px;
  margin-right: 9px;
  color: #FFFFFF;
}
.footer__content .footer__contact .footer__email {
  display: inline;
  color: #ABB2BF;
  text-decoration: none;
}
.footer__content .footer__contact .footer__role {
  margin-top: 16px;
  color: #FFFFFF;
}
.footer__content .footer__media .footer__media-title {
  color: #FFFFFF;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 500;
}/*# sourceMappingURL=projects.css.map */