$gray: #ABB2BF;
$white: #FFFFFF;
$purple: #C778DD;


.body-content {
    background-color: #282C33;
}

.all {
    max-width: 1024px;
    min-width: 320px;
    margin: auto;
}
.header {
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 25%);
    height: 61px;
}

.header > {
    display: flex;
    align-items: flex-end;
}

.header p {
    margin-bottom: -1px;
}

.header__p {
    color: $white;
    margin: 0 0 4px 0;
    position: relative;
    bottom: -30px;
}

.header__p__image {
    margin: 0 5px 0 0;
}

.header__nav{
    display: flex;
    justify-content: end;
}

.header__nav__links {
    display: flex;
    list-style-image: url(../img/aa.svg);
}

.header__nav__links li {
    color: $white;
    padding-right: 20px;

}

.header__nav__links li:not(:first-child) {
    color: $gray;
}


.header__button {

}

.first-section {
    display: flex;
}

.first-section__header {
    color: $white;
    .purple {
        color: $purple;
    }
}

.first-section__p {
    color: $gray;
}

.first-section__button {
    color: $white;
    background-color: transparent;
    border: 1px solid $purple;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    &:hover{
        background-color: rgba($color: $purple, $alpha: 20%);
        transition-duration: 300ms;
    }
}


.quote-section {
    
    .quote-section__bquote {

        .bquote__p {
            color: $white;
        }
        .bquote__cite {
            color: $white;
        }
    }

}


.projects {
    .projects__header {
        color: $white;
        &::before {
            content: '#';
            color: $purple;
            font-size: 32px;
        }
        font-size: 32px;
    }
    .projects__p {
        color: $white;
    }
    .projects__cards {

        .projects__cards_first__list{

            .projects__cards_first__img {

            }
            .projects__cards_first__ul {
                color: $gray;
            }
            .projects__cards_first__h3 {
                color: $white;
            }
            .projects__cards_first__p {
                color: $gray;
            }
            .projects__cards_first__button-1 {

            }
            .projects__cards_first__button-2 {

            }
        }
        .projects__cards_second {

            .projects__cards_second__img {

            }
            .projects__cards_second__ul {
                color: $gray;
            }
            .projects__cards_second__h3 {
                color: $white;
            }
            .projects__cards_second__p {
                color: $gray;
            }
            .projects__cards_second__button {

            }
        }
        .projects__cards_third {

            .projects__cards_third__img {

            }
            .projects__cards_third__ul {
                color: $gray;
            }
            .projects__cards_third__h3 {
                color: $white;
            }
            .projects__cards_third__p {
                color: $gray;
            }
            .projects__cards_third__button {

            }
        }
    }
}