@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

$gray: #ABB2BF;
$white: #FFFFFF;
$purple: #C778DD;

@mixin reset {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Fira Code";
    list-style-type: none;
}

body, h1, h2, h3, h4, h5, h6, ul, li, p {
    @include reset;
}

.purple {
    color: $purple;
}

.white-p, .white__always, .white:hover {
    color: $white;
}

.icon-Discord::before {
    font-size: 32px;
    margin-right: 5px;
}
.icon-Discord:hover::before {
    color: $white;
}

.icon-Email::before {
    font-size: 32px;
    margin-right: 5px;
}
.icon-Email:hover::before {
    color: $white;
}

.body-content {
    background-color: #282C33;
}

.wrapper {
    margin: 0 auto;
    width: 1024px;
}

.home {
    position: fixed;
    top: 0;
    background-color: #282C33;
    z-index: 3;
    margin-left: 17px;
    .home__separator {
        margin-top: 0;
        margin-bottom: 14px;
        width: 1px;
        height: 191px;
        border: none;
        background: $gray;
    }
    .home__social-links {
        padding: 5px;
    }
}

.header {
    position: fixed;
    top: 0;
    background-color: #282C33;
    z-index: 4;
    width: 1024px;
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 25%);
    height: 61px;
    .header__link {
        color: $white;
        margin: 0 0 0 0;
        position: relative;
        bottom: -30px;
        text-decoration: none;
        .header__icon {
            margin: 0 8px 0 0;
            position: relative;
            top: 3px;
        }
    }
}

.header__nav{
    display: flex;
    justify-content: end;
    .header__links {
        display: flex;
        margin: 9px;
        .header__item {
            padding-right: 32px;
        }
    }
    .header__select {
        border: 0 solid #000;
        background-color: #282C33;
        font-size: 16px;
        color: $gray;
        padding: 0;
    }
}

.header__linkk {
    color: $gray;
    text-decoration: none;
}

.intro {
    display: flex;
    align-items: center;
    margin-top: 132px;
    margin-bottom: 112px;
    .intro__content {
        position: relative;
        top: -39px;
        margin-right: 18px;
        .intro__title {
            color: $white;
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 32px;
        }
        .intro__description {
            font-size: 16px;
            color: $gray;
            margin-bottom: 35px;
            width: 463px;
        }
        .intro__contact-link {
            color: $white;
            background-color: transparent;
            border: 1px solid $purple;
            border-radius: 0px;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 16px;
            text-decoration: none;
            &:hover{
                background-color: rgba($color: $purple, $alpha: 20%);
                transition-duration: 300ms;
            }
        }
    }
}

.intro__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro__photo {
        width: 469px;
        height: 386px;
    }
    .intro__status {
        display: flex;
        border: 1px solid $gray;
        padding: 8px;
        width: 384px;
        font-size: 16px;
        color: $gray;
        .intro__status-icon {
            margin-right: 10px;
        }
        .intro__status-link {
            text-decoration: none;
            color: $white;
            .break {
                margin-left: 10px;
            }
        }
    }
}
//модальное окно
.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    .modal-content {
        border-radius: 10px;
        background-color: #fff;
        margin: 100px auto;
        padding: 20px;
        width: 50%;
        font-size: 20px;
    }
}

.quote {
    position: relative;
    margin: 0 auto;
    width: 712px;
    height: 95px;
    border: 1px solid $gray;
    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/quote.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 50px;
        top: -25px;
        left: 10px;
        background-color: #282C33;
        z-index: 2;
    }
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-image: url(../img/quote.svg);
        background-position: center;
        width: 40px;
        height: 20px;
        bottom: -10px;
        right: 15px;
        background-color: #282C33;
        z-index: 2;
    }
    .quote__content {
        display: flex;
        justify-content: center;
        align-items: center;
        .quote__text {
            color: $white;
            font-size: 24px;
            padding: 32px 0px;
        }
        .quote__author {
            color: $white;
            position: absolute;
            border: 1px solid $gray;
            right: -1px;
            bottom: -65px;
            border-top: 0;
            padding: 16px 16px;
            font-style: normal;
            font-size: 24px;
        }
    }
}

.projects {
    margin-top: 137px;
    margin-bottom: 106px;
    .projects__header {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        .projects__title {
            color: $white;
            font-size: 32px;
            font-weight: 500;
            margin-right: 16px;
        }
        .projects__separator {
            width: 511px;
            height: 1px;
            margin-left: 0;
            background: $purple;
            border: none;
        }
        .projects__view-all {
            text-decoration: none;
            color: $white;
        }
    }
}

.projects__list {
    padding: 0;
    display: flex;
    align-items: flex-start;
    .projects__item--first {
        margin-right: 16px;
        border: 1px solid $gray;
        .projects__tech-list {
            color: $gray;
            padding: 0 8px;
            font-size: 16px;
            border-bottom: 1px solid $gray;
            padding-bottom: 8px;
        }
        .projects__content {
            padding: 16px;
            .projects__title {
                font-size: 24px;
                font-weight: 500;
                color: $white;
                margin-bottom: 16px;
            }
            .projects__description {
                color: $gray;
                margin-bottom: 16px;
            }
            .projects__button--live {
                border: 1px solid $purple;
                background-color: transparent;
                font-size: 16px;
                font-weight: 500;
                color: $white;
                padding: 8px 16px;
                &:hover{
                    background-color: rgba($color: $purple, $alpha: 20%);
                    transition-duration: 300ms;
                }
            }
            .projects__button--cached {
                border: 1px solid $gray;
                background-color: transparent;
                color: $gray;
                font-size: 16px;
                font-weight: 500;
                color: $gray;
                padding: 8px 16px;
                &:hover{
                    background-color: rgba($color: $gray, $alpha: 20%);
                    transition-duration: 300ms;
                }
            }
        }
    }
    .projects__item--second {
        margin-right: 16px;
        border: 1px solid $gray;
        .projects__tech-list {
            color: $gray;
            padding: 0 8px;
            font-size: 16px;
            border-bottom: 1px solid $gray;
            padding-bottom: 8px;
            .projects__tech-item {
                &:first-child {
                    margin-bottom: 17px;
                }
            }
        }
        .projects__content {
            padding: 16px;
            .projects__title {
                font-size: 24px;
                font-weight: 500;
                color: $white;
                margin-bottom: 16px;
            }
            .projects__description {
                color: $gray;
                margin-bottom: 16px;
            }
            .projects__button--live {
                border: 1px solid $purple;
                background-color: transparent;
                color: $white;
                font-size: 16px;
                font-weight: 500;
                color: $white;
                padding: 8px 16px;
                &:hover{
                    background-color: rgba($color: $purple, $alpha: 20%);
                    transition-duration: 300ms;
                }
            }
        }
    }
    .projects__item--third {
        border: 1px solid $gray;
        .projects__tech-list {
            color: $gray;
            padding: 0 8px;
            font-size: 16px;
            border-bottom: 1px solid $gray;
            padding-bottom: 8px;
        }
        .projects__content {
            padding: 16px;
            .projects__title {
                font-size: 24px;
                font-weight: 500;
                color: $white;
                margin-bottom: 16px;
            }
            .projects__description {
                color: $gray;
                margin-bottom: 16px;
            }
            .projects__button--live {
                border: 1px solid $purple;
                background-color: transparent;
                color: $white;
                font-size: 16px;
                font-weight: 500;
                color: $white;
                padding: 8px 16px;
                &:hover{
                    background-color: rgba($color: $purple, $alpha: 20%);
                    transition-duration: 300ms;
                }
            }
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 112px;
    .skills__header-container {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .skills__title {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 32px;
            font-weight: 500;
            margin-right: 16px;
        }
        .skills__separator {
            width: 511px;
            height: 1px;
            margin-left: 0;
            background: $purple;
            border: none;
        }
    }
}

.skills__content {
    display: flex;
    .skills__image {
        width: 349px;
        height: 282px;
        margin-right: 59px;
        margin-left: 32px;
    }
    .skills__list {
        display: grid;
        grid-template-columns: 178px 178px 196px;
        grid-template-rows: auto auto;
        column-gap: 16px;
        row-gap: 16px;
        margin: 0;
        padding: 0;
        width: 584px;
        .skills__item--languages {
            padding: 8px 0;
            border: 1px solid $gray;
            margin-right: 16px;
            width: 178px;
            .skills__category {
                color: $white;
                font-size: 16px;
                margin: 0;
                padding: 0 8px 8px 8px;
                border-bottom: 1px solid $gray;
            }
            .skills__sublist {
                color: $gray;
                padding: 8px 8px 0 8px;
                font-size: 16px;
            }
        }
        .skills__item--databases {
            padding: 8px 0;
            border: 1px solid $gray;
            margin-right: 16px;
            width: 178px;
            .skills__category {
                color: $white;
                font-size: 16px;
                margin: 0;
                padding: 0 8px;
                padding: 0 8px 8px 8px;
                border-bottom: 1px solid $gray;
            }
            .skills__sublist {
                color: $gray;
                padding: 8px 8px 0 8px;
                font-size: 16px;
            }
        }
        .skills__item--tools {
            padding: 8px 0;
            border: 1px solid $gray;
            margin-right: 16px;
            width: 196px;
            .skills__category {
                color: $white;
                font-size: 16px;
                margin: 0;
                padding: 0 8px 8px 8px;
                border-bottom: 1px solid $gray;
            }
            .skills__sublist {
                color: $gray;
                padding: 8px 8px 0 8px;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .skills__item--others {
            padding: 8px 0;
            border: 1px solid $gray;
            margin-right: 16px;
            width: 178px;
            .skills__category {
                color: $white;
                font-size: 16px;
                margin: 0;
                padding: 0 8px;
                padding: 0 8px 8px 8px;
                border-bottom: 1px solid $gray;
            }
            .skills__sublist {
                color: $gray;
                padding: 8px 8px 0 8px;
            }
        }
        .skills__item--frameworks {
            padding: 8px 0;
            border: 1px solid $gray;
            width: 178px;
            .skills__category {
                color: $white;
                font-size: 16px;
                margin: 0;
                padding: 0 8px;
                padding: 0 8px 8px 8px;
                border-bottom: 1px solid $gray;
            }
            .skills__sublist {
                color: $gray;
                padding: 8px 8px 0 8px;
            }
        }
    }
}

.about-me {
    margin-bottom: 112px;
    height: 508px;
    .about-me__header-container {
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        .about-me__title {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 32px;
            font-weight: 500;
            margin-right: 16px;
        }
        .about-me__separator {
            margin: 0;
            width: 511px;
            height: 1px;
            border: none;
            background: $purple;
        }
    }
}

.about-me__content-container {
    display: flex;
    height: 508px;
    width: 1025px;
    .about-me__text {
        margin: 0;
        padding: 0;
        margin-right: 166px;
        .about-me__text-paragraph {
            color: $gray;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 27px;
            width: 515px;
        }
        .about-me__read-more {
            color: $white;
            background-color: transparent;
            border: 1px solid $purple;
            border-radius: 0px;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 16px;
            text-decoration: none;
            &:hover{
                background-color: rgba($color: $purple, $alpha: 20%);
                transition-duration: 300ms;
            }
        }
    }
    .about-me__image {
        position: relative;
        top: -65px;
        width: 343px;
        height: 508px;
    }
}

.contacts {
    height: 228px;
    margin-bottom: 145px;
    .contacts__header-container {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        .contacts__title {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 32px;
            font-weight: 500;
            margin-right: 16px;
        }
        .contacts__separator {
            margin: 0;
            width: 511px;
            height: 1px;
            border: none;
            background: $purple
        }
    }
}

.contacts__content-wrapper {
    display: flex;
    justify-content: space-between;
    .contacts__main-paragraph {
        color: $gray;
        font-size: 16px;
        width: 505px;
    }
    .contacts__aside {
        border: 1px solid $gray;
        padding: 16px;
        .contacts__aside-paragraph {
            margin-bottom: 16px;
            color: $white;
        }
        .contacts__aside-link {
            text-decoration: none;
            margin-top: -8px;
            color: $gray;
            display: flex;
            align-items: center;
            &:hover {
                color: $white;
            }
        }
    }
}

.footer-wrapper {
    border-top: 1px solid $white;
    .footer {
        margin: 32px 0;
        .footer__bottom {
            display: flex;
            justify-content: center;
            .footer__copyright {
                color: $gray;
            }
        }
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    .footer__contact {
        .footer__name {
            display: inline;
            margin-right: 15px;
            color: $white;
            text-decoration: none;
            .footer__icon{
                position: relative;
                top: 3px;
                margin-right: 9px;
                color: $white;
            }
        }
        .footer__email {
            display: inline;
            color: $gray;
            text-decoration: none;
        }
        .footer__role {
            margin-top: 16px;
            color: $white;
        }
    }
    .footer__media {
        .footer__media-title {
            color: $white;
            margin-bottom: 12px;
            font-size: 24px;
            font-weight: 500;
        }
    }
}