@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

$gray: #ABB2BF;
$white: #FFFFFF;
$purple: #C778DD;

* {
    font-family: "Fira Code";
    list-style-type: none;
}


.body-content {
    background-color: #282C33;
    padding: 0;
    margin: 0;

}



.all {
    max-width: 1024px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;

}


.test {
    
}
.header {
    box-shadow: 0px 4px 4px rgba($color: #000000, $alpha: 25%);
    height: 61px;
    margin-bottom: 62px;
    .header__p {
        color: $white;
        margin: 0 0 0 0;
        position: relative;
        bottom: -30px;
    }

    .header__p__image {
        margin: 0 5px 0 0;
    }

    .header__nav{
        display: flex;
        justify-content: end;
    }

    .header__nav__links {
        display: flex;
        list-style-image: url(../img/aa.svg);
        margin: 9px;
        a {
            color: $gray;
            text-decoration: none;
        }
    
        li {
            padding-right: 20px;
        }
    }

    .header__button {
        border: 0 solid #000;
        background-color: #282C33;
        font-size: 16px;
        color: $gray;
    }
}

.header > {
    display: flex;
    align-items: flex-end;
}

.content {

}

.first-section {
    display: flex;
    margin-bottom: 112px;
    .first-section__text {
        // align-items: center;
        margin-right: 18px;
        word-spacing: 3px;
    }

    .text__header {
        color: $white;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 32px;

        .purple {
            color: $purple;
        }
    }

    .first-section__p {
        font-size: 16px;
        color: $gray;
        margin-bottom: 24px;
    }

    .first-section__button {
        color: $white;
        background-color: transparent;
        border: 1px solid $purple;
        border-radius: 0px;
        font-size: 16px;
        font-weight: 500;
        padding: 8px 16px;
        &:hover{
            background-color: rgba($color: $purple, $alpha: 20%);
            transition-duration: 300ms;
        }
    }

    .first-section__image {
        display: flex;
        width: 469px;
        height: 386px;
    }
}



.quote-section {
    .quote-section__bquote {
        display: flex;
        justify-content: center;
        align-items: center;
        .bquote__p {
            color: $white;
        }
        .bquote__cite {
            color: $white;
        }
    }

}



.projects {
    .projects__header {
        display: flex;
        align-items: center;
        .projects__h2 {
            color: $white;
            font-size: 32px;
            font-weight: 500;
            margin-right: 16px;
            .purple {
                color: $purple;
            }
        }
// cделать линию фиолетовой
        hr {
            width: 511px;
            height: 1px;
            margin-left: 0;
            // background-color: $purple;
            // border: 1px solid $purple;
        }

        .projects__p {
            color: $white;
        }
    }

    .projects__cards {
        padding: 0;
        display: flex;
        align-items: flex-start;
        .cards__first-list{
            margin-right: 16px;
            border: 1px solid $gray;
            .first-list__img {

            }
            .first-list__ul {
                color: $gray;
                padding: 0 8px;
                font-size: 16px;
                border-bottom: 1px solid $gray;
                padding-bottom: 8px;
                li {
                    display: inline;
                }
            }
            .cards_text_1 {
                padding: 16px;
                .cards_text_1__h3 {
                    font-size: 24px;
                    font-weight: 500;
                    color: $white;
                    margin-bottom: 16px;
                }
                .cards_text_1__p {
                    color: $gray;
                    margin-bottom: 16px;
                }
                .cards_text_1__button-1 {
                    border: 1px solid $purple;
                    background-color: transparent;
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                    padding: 8px 16px;
                }
                .cards_text_1__button-2 {
                    border: 1px solid $gray;
                    background-color: transparent;
                    color: $gray;
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                    padding: 8px 16px;
                }
            }
            
        }

        .cards__second-list {
            margin-right: 16px;
            border: 1px solid $gray;
            .second-list__img {

            }
            .second-list__ul {
                color: $gray;
                padding: 0 8px;
                font-size: 16px;
                border-bottom: 1px solid $gray;
                padding-bottom: 8px;
                li {
                    display: inline;
                }
            }
            .cards_text_2 {
                padding: 16px;
                .cards_text_2__h3 {
                    font-size: 24px;
                    font-weight: 500;
                    color: $white;
                    margin-bottom: 16px;
                }
                .cards_text_2__p {
                    color: $gray;
                    margin-bottom: 16px;
                }
                .cards_text_2__button {
                    border: 1px solid $purple;
                    background-color: transparent;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                    padding: 8px 16px;
                }
            }
            
        }

        .cards__third-list {
            border: 1px solid $gray;
            .third-list__img {

            }
            .third-list__ul {
                color: $gray;
                padding: 0 8px;
                font-size: 16px;
                border-bottom: 1px solid $gray;
                padding-bottom: 8px;
                li {
                    display: inline;
                }
            }
            .cards_text_3 {
                padding: 16px;
                .cards_text_3__h3 {
                    font-size: 24px;
                    font-weight: 500;
                    color: $white;
                    margin-bottom: 16px;
                }
                .cards_text_3__p {
                    color: $gray;
                    margin-bottom: 16px;
                }
                .cards_text_3__button {
                    border: 1px solid $purple;
                    background-color: transparent;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                    padding: 8px 16px;
                }
            }
            
        }
    }
}



.skills-section {
    display: flex;
    flex-direction: column;
    .skills-section__header {
        display: flex;
        align-items: center;
        .skills-section__h2 {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 32px;
            font-weight: 500;
            margin-right: 16px;
            .purple {
                color: $purple;
            }
    
        }
    
        .skills-section__hr {
            margin: 0;
            width: 511px;
        }
    }
    

    .skills-section-content {
        display: flex;
        .skills-section__img {
            width: 349px;
            height: 282px;
            margin-right: 59px;
        }
    
        .skills-section__ul-skills {
            display: flex;
            align-items: flex-start;
            margin: 0;
            padding: 0;
            .ul-skills__first-list-skills {
                padding: 8px 0;
                border: 1px solid $gray;
                margin-right: 16px;
                .first-list-skills__p {
                    color: $white;
                    font-size: 16px;
                    margin: 0;
                    padding: 0 8px 8px 8px;
                    border-bottom: 1px solid $gray;
                }
                .first-list-skills__ul-2 {
                    color: $gray;
                    padding: 8px 8px 8px 8px;
                }
            }
    
            .ul-skills__second-list-skills {
                padding: 8px 0;
                border: 1px solid $gray;
                margin-right: 16px;
                .second-list-skills__p {
                    color: $white;
                    font-size: 16px;
                    margin: 0;
                    padding: 0 8px;
    
                }
                .second-list-skills__ul-2 {
                    color: $gray;
                    padding: 0 8px;
                }
            }
    
            .ul-skills__third-list-skills {
                padding: 8px 0;
                border: 1px solid $gray;
                margin-right: 16px;
    
                .third-list-skills__p {
                    color: $white;
                    font-size: 16px;
                    margin: 0;
                    padding: 0 8px;
                }
                .third-list-skills__ul-2 {
                    color: $gray;
                    padding: 0 8px;
                }
            }
    
            .ul-skills__fourth-list-skills {
                padding: 8px 0;
                border: 1px solid $gray;
                margin-right: 16px;
    
                .fourth-list-skills__p {
                    color: $white;
                    font-size: 16px;
                    margin: 0;
                    padding: 0 8px;
                }
                .fourth-list-skills__ul-2 {
                    color: $gray;
                    padding: 0 8px;
                }
            }
    
            .ul-skills__fifth-list-skills {
                padding: 8px 0;
                border: 1px solid $gray;
                .fifth-list-skills__p {
                    color: $white;
                    font-size: 16px;
                    margin: 0;
                    padding: 0 8px;
                }
                .fifth-list-skills__ul-2 {
                    color: $gray;
                    padding: 0 8px;
                }
            }
        }
    }
}



.about-me {
    display: flex;
    flex-direction: column;
    .about-me__header {
        display: flex;
        align-items: center;
        .about-me__h2 {
            display: flex;
            align-items: center;
            color: $white;
            font-size: 32px;
            font-weight: 500;
            margin-right: 16px;
            .purple {
                color: $purple;
            }
        }
        .about-me__hr {
            margin: 0;
            width: 511px;
        }
    }
    
    .about-me__content {
        .about-me__p {
            color: $gray;
        }
        .about-me__button {
    
        }
        .about-me__img {
    
        }
    }
    
}